@import "constants.scss";
@import "structure.scss";
@import "base.scss";
@import "forms.scss";

.cartImage {
  margin: 0 auto;
}

.cartContains {
  dl {
    display: flex;
    justify-content: space-between;
  }

  dd {
    text-align: right;
  }
}
