@import "../../styl/constants.styl"

.checkoutText
    display flex
    flex-direction column

@media mobile
  .checkoutText
    flex-direction column-reverse

  .text
    font-size 1em
    line-height 1.25em