red = #d8161f

pink = #f54991
pinkLight = #e0a2b9
pinkTooLight = #ffecff

lightGrey = #fafafa
grey = #e5e5e5
darkGrey = #9b9b9b
green = #74bb2c

mobile = 'screen and (max-width 800px)'

inputHeight = 50px
inputFieldHeight = 67px

fa = normal normal normal 18px FontAwesome